NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
MONGO_URI=mongodb://promocode:promocode@mongo:27017/promocode-manager?authSource=admin
CLICKHOUSE_URL=http://clickhouse:8123
CLICKHOUSE_USER=promocode
CLICKHOUSE_PASSWORD=promocode
CLICKHOUSE_DATABASE=promocode_manager
REDIS_URL=redis://redis:6379
JWT_SECRET=change-me-in-stage-4
SWAGGER_PATH=api/v1/docs
